.form1 {
  width: 50vw;
  border: 1px solid #333332;
  font-family: "Krona One", sans-serif;
  background-color: white;
  border-radius: 15px;
  margin-top: 1vh;
}
.form2 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 10vh;
  border: 1px solid #333332;
  font-family: "Krona One", sans-serif;
  background-color: white;
  border-radius: 15px;
  width: 60rem;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: cover;
  border-radius: 12px;
  background-color: #c7ecf6;
  margin-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.bloc2 {
  display: flex;
  margin-left: 100px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

label {
  color: black;
}
.bodyAccount {
  display: flex;
  justify-content: space-between;
}
.containerTitle {
  color: #333332;
  text-align: center;
}

.buttonInscription {
  margin-top: 3vh;
  margin-left: 28vw;
}
