/* NAVBAR */
.navBar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  align-items: center;
}

.navBtn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnHome {
  width: 5rem;
  height: 2.3rem;
  background-color: rgba(255, 255, 255, 0.498);
  text-decoration: none;
  color:white !important;
  border-radius:4px;
  font-size: 1rem;
  border: none;
  padding:1%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnProfile {
  color:white!important;
  width: 5rem;
  height:2.3rem;
  background-color: rgba(255, 255, 255, 0.498);
  text-decoration: none;
  border-radius:4px;
  font-size: 1rem;
  border: none;
  padding:1%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noConnect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.connect {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnHome:hover {
  background-color:#e1be25a4;
  color: white;
  font-weight: bolder;
}

.btnProfile:hover {
  background-color:#e1be25a4;
  color: white;
  font-weight: bolder;
}

.logoComplet {
  height:6rem;
}