.logo {
  width: 7vw;
  margin-left: 2vh;
}

/* input {
  border-color: #333332;
  padding-top: 1vh;
  padding-bottom: 1vh;
} */

.posts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h5 {
  color: white;
  margin: 0.5rem;
  text-align: center;
}

.posterButton {
  width: 5rem;
  height: 3vw;
  background-color: white;
  text-decoration: none;
  color: #333332;
  border-radius: 6px;
  font-size: 0.8rem;
  border: none;
  padding: 1%;
}

button:hover {
  background-color: #e1bf25;
  color: white;
}

.author {
  text-align: left;
  font-size: 0.7rem;
  margin-left: 2%;
}

.homeContainer {
  width: 75vw;
  background-color: white;
  border: 3px solid #333332;
  margin-bottom: 4%;
  border-radius: 15px;
  font-size: 10px;
}

.buttonLike {
  width: 5rem;
  height: 3vw;
  background-color: white;
  text-decoration: none;
  color: #333332;
  border-radius: 6px;
  font-size: 0.8rem;
  border: none;
  padding: 1%;
}

button:hover {
  background-color: #e1bf25;
  color: white;
}

.contenuBloc {
  margin-left: 2%;
}

body::-webkit-scrollbar {
  width: 0;
}
