.profile {
  display: flex;
  justify-content: space-between;
}

.blocProfil {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
}

.formId {
  text-align: left;
}

.formInputDescription {
  height: 9vh;
}

.buttonToChangeValid {
  margin-top: 3vh;
  margin-left: 30vw;
  border-radius: 10px;
}

.containerInfo {
  width: 40vw;
  height: 60vh;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: center;
  color: #000000;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.containerInfoEdit {
  width: 50vw;
  height: 120vh;
  border: none;
  margin-top: 20vh;
  margin-bottom: 10vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: center;
  color: #000000;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1;
}