body {
  background: linear-gradient(to top, #6110026f, #f1efef);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#root {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(to top, #6110026f, #f1efef);
}

.posterButton {
  padding: 1rem;
  margin-left: 2rem;
  margin-top: 10em;
  width: 5rem;
  height: 2.3rem;
  background-color: rgba(255, 255, 255, 0.498);
  text-decoration: none;
  color: #611002 !important;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posterButton:hover {
  background-color: #852d3364;
  color: white !important;
  font-weight: bolder;
}

.homeContainer {
  border-radius: 4px;
  border: none;
  background-color: #eff1f0a9;
  height: 20rem;
  width: 80rem;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  color: #611002;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1rem;
}

.form1 {
  width: 30vw;
  height: 2rem;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  margin-top: 1vh;
  margin-left: 0;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: left;
  padding: 0.5em;
  color: #852d33;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 1.2rem;
}

.likes {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 2rem;
  padding-right: 2rem;
  align-items: center;
}

.buttonLike {
  background-color: #eff1f000;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 1em;
  padding-top: 0.3rem;
  padding-right: 1rem;
  font-size: 1.8rem;
  text-justify: inter-word;
}

.buttonLike:hover {
  background-color: #eff1f000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #6110026f, #f1efef);
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 94%;
  padding-top: 0vh;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #6110026f, #f1efef);
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.containerLogin {
  background: linear-gradient(to top, #6110026f, #f1efef);
  height: 80vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 8vw;
}

.titreBloc {
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.7rem;
  padding-left: 1em;
  display: flex;
}

.contenuBloc {
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
  margin-top: 0;
  display: flex;
  margin-left: 2%;
  width: 80%;
  height: 100%;
  flex-direction: row;
  overflow-y: visible;
  margin-bottom: 0;
}

.contenuBloc::-webkit-scrollbar {
  width: 0, 5;
}

.author {
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-size: 1em;
  margin-bottom: -10%;
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}

.commentsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 5rem;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.inputComment {
  display: flex;
  border-radius: 4px;
  border: none;
  color: #611002;
  margin: 1rem;
  box-sizing: content-box;
  height: 1.2vh;
  font-size: 0.8rem;
  padding: 0.8rem;
}

.commentBtn {
  display: flex;
  color: #611002 !important;
  margin: 1rem;
  box-sizing: content-box;
  height: 8%;
  text-justify: center;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.commentBtn:hover {
  display: flex;
  color: white !important;
  font-weight: bolder;
}

.bloc2 {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2vh;
  margin-bottom: 2vh;
  justify-content: left;
  width: 60vw;
}

.bloc1 {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 2vh;
  margin-bottom: 2vh;
  box-sizing: content-box;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.blocLogin {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: -2em;
  margin-bottom: 0;
  box-sizing: content-box;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.displayComments {
  display: flex;
  flex-direction: column;
  background-color: #eff1f0a9;
  height: 50rem;
  padding: 1rem;
  overflow-y: scroll;
}

.displayComments::-webkit-scrollbar {
  width: 0, 5;
}

.pComments {
  background-color: #88888815;
  border-radius: 4px;
  padding: 1rem;
  margin: 1em;
}

.displayLogin {
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  color: #611002;
  background-color: #eff1f0a9;
  border-radius: 4px;
}

.textLogin {
  color: #611002;
  font-size: 1.5em;
}

.inputEmailLogin {
  padding: 1em;
  width: 30vw;
  height: 2rem;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  margin-top: 1vh;
  margin-left: 0;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: left;
  color: #852d33;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.inputPasswordLogin {
  padding: 1em;
  width: 30vw;
  height: 2rem;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  margin-top: 1vh;
  margin-left: 0;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: left;
  color: #852d33;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

label {
  color: #852d33;
  font-size: 1.5rem;
}

.buttonToChangeValid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.2rem;
}

.containerInfoEdit {
  width: 40rem;
  height: 100vh;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  margin-top: 0;
  margin-left: 10em;
  margin-bottom: 5em;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: center;
  color: #852d33;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.lastNameEdit {
  padding: 1em;
  width: 30vw;
  height: 1rem;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: left;
  color: #852d33;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.firstNameEdit {
  padding: 1em;
  width: 30vw;
  height: 1rem;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: left;
  color: #852d33;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.emailEdit {
  padding: 1em;
  width: 30vw;
  height: 1rem;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: left;
  color: #852d33;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.bioEdit {
  padding: 1em;
  width: 30vw;
  height: 10rem;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: left;
  color: #852d33;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.btnValiderLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.2rem;
  margin-top: 2em;
}

.swal-overlay {
  background-color: rgba(197, 202, 201, 0.45);
}

.formCreate {
  margin-top: 8vw;
  margin-left: 6rem;
}

.createPost {
  display: flex;
  width: 60%;
  height: 10rem;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #eff1f0a9;
  border-radius: 4px;
  margin-top: 3vh;
  box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
  text-align: start;
  padding: 0.5em;
  color: #852d33;
  display: flex;
  margin-bottom: 5vw;
  flex-direction: row;
  font-size: 1.2rem;
}

.textComment {
  display: flex;
}

.divHomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerHome {
  margin-right: 8vh;
}

.containerApp {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #6110026f, #f1efef);
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 8vw;
  padding-bottom: 2vw;
}