body {
    height:100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#root {
    background-color: #f1efef;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width:320px;
}

.App {
    background-color:#f1efef;
}

.posterButton {
    padding:1rem;
    margin-left: 2rem;
    justify-content: left;
    width: 5rem;
    height: 2.3rem;
    background-color: rgba(255, 255, 255, 0.498);
    text-decoration: none;
    color:#611002!important;
    border-radius:4px;
    font-size: 1rem;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posterButton:hover{
    background-color:#852d33;
    color: white!important;
    font-weight: bolder;
}

.homeContainer {
    border-radius: 4px;
    border: none;
    background-color: #eff1f0a9;
    margin:1em;
    height:20rem;
    min-width: 40rem;
    box-shadow: inset 0 0 1em #e6e6e600, 0 0 0.5em #33333258;
    color: #611002;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* text-align: left; */
    padding-right: 1em;
    font-size: 1rem;
}

.likes {
    display: flex;
    flex-direction: row;
    justify-content:right;
    font-size: 1rem;
    text-align: center;
    position:relative;
    padding-bottom: 2rem;
    padding-right: 2rem;
    align-items: center;
}

.buttonLike {
    background-color: #eff1f000;
    display: flex;
    flex-direction: row;
    justify-content:right;
    width: 1em;
    padding-bottom: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    text-justify:inter-word;
    position:relative;
}

.buttonLike:hover{
    background-color:#eff1f000;
}

.container {
    background: linear-gradient(to top, #6110026f, #f1efef);
    height:100%;
    margin:0;
    padding: 2em;
    justify-content: space-evenly;
}

.pageTitle {
    margin:0;
}

.titreBloc{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7rem;
    padding-left: 0.5em;
    margin-top:3rem;

}
.contenuBloc{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    padding-left: 0.5em;
    margin-top:0;
}
.author{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    font-size: 1em;
    padding-left: 0.5em;
    margin-bottom:-5%;
    display: flex;
    flex-direction: row;
    position: relative;
}